:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.inicio {
  background: #ffffff;
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.inicio h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.inicio p {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #444;
  margin-bottom: 1.2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.inicio img {
  height: 100px;
}
